* {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;;
}

.main {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.game-container{
    width: 30vw;
    height: 30vw;
    margin: auto;
    margin-top: 25vh;
}

#game {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0;
}

.field{
    height: 100%;
    width: 100%;
    background-color: aliceblue;
    font-size: 9vh;
    display: flex;
    justify-content: center;
}

.even {
    background-color: aquamarine;
}

.odd {
    background-color: blue;
}

.result {
    grid-column: 1/4;
    height: 10vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.result button {
    margin-top: 5rem;
    aspect-ratio: 4/1;
    height: 2.5rem;
    border: none;
    background-color: aqua;
    box-shadow: 0 5px 5px 0 black;
}

#result-text{
    margin-top: 2rem;
    text-align: center;
    width: 100%;
    display: block;
}
.player1, .player2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    height: 1.5rem;
}
label{
    font-size: 1.5rem;
    display: block;
}